@import '../../../../styles/';

$blockName: '.newsComponent';

#{$blockName} {
    &__rowContent {
        padding: 5px 0;
    }
    
    &--odd {
        background-color: $lightGray;
    }

    td {
        text-align: center;
    }

    &__upVote {
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 8px solid $upVoteGray;
        cursor: pointer;
        display: inline-block;
    }

    &__rowContent {
        text-align: center;
        a {
            text-decoration: none;
        }
    }


    
    &__title  &__rowContent{
        text-align: center;
        display: flex;
    }
    &__titleMain {
        text-align: left;

        a {
            color: black;
        }
        span {
            font-size: 8pt;
            margin: 0 2px;
        }
        
    }
    &__hideButton {
        cursor: pointer;
    }

    &__by, &__time {
        color: $darkGray;
    }

    &__host {
        color: $darkGray;
        a {
            color: $darkGray;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }

   
}